.body{
    background-color: #f7f7f7;
}
.titulo{
    font-family: 'Nerko One', cursive;
    font-size: 4.5rem;
}
.salida{
    font-family: 'Space Mono', monospace;
}
.cuadro-salida{
    height: 400px;
}
@media (max-width: 60em){
    .titulo{
        font-size: 3rem;
    }
}