.titulo{
    margin-top: 0%;
    font-family: 'Nerko One', cursive;
    font-size: 5rem;
    text-align: center;
}
.salida{
    font-family: 'Space Mono', monospace;
}
.cuadro-salida{
    height: 200px;
}