.contenedor-principal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.titulo {
  font-size: 9vh;
}

.resultado {
  height: 55px;
  font-size: larger;
  display: flex;
  justify-content: center;
  align-items: center;
}
